body{
    background-color:rgb(138, 163, 175);
    
  }
  
  section{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:500px;
    margin-top:100px;
    background-color:white;
    padding:15px;
    border: 1px solid black;
    border-radius:5px;
    box-shadow:5px 5px 50px 8px rgba(0,0,0,59)
  }
  
  section h1{
    font-size:30px;
    text-decoration:underline ;
  }
  
  
  header{
    background-image:url('https://media-exp1.licdn.com/dms/image/C4E16AQHvVKEZ93INmw/profile-displaybackgroundimage-shrink_200_800/0/1609599316009?e=1622678400&v=beta&t=z3ZwYo6B2nlkx7Tz5zJAoflUWaDjZIyAVaqOV1mlg5U');
   background-size:cover;
   height:80px;
   border-radius:5px;
  }
  
  div{
    background-color:#abb2c080;
    border: 1px solid black;
    border-radius:5px;  
    padding:15px;
  }
  
  img{
    border-radius:100%;
    width:150px;
    height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    transform:translateY(-50%);
    border: 8px solid white;
  }